h1 {
  color: yellow! important;
  background: url(miss_philippine.png)
}
p {
  display: block;
  padding: 2px 3px 4px 2%;
  border-width: 2px;
  border-style: dashed;
  border-color: blue;
  border: solid 1px black;
  box-sizing: border-box;
  background: url('/miss-colombia.png');
}
a {
  color: red;
}
.adb-styled {
  border-radius: 3%;
}
#tabnavs {
  marging-top: 2%;
}
.search-link {
  padding: 5.5%;
}
